/*Bebas neue*/
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.upd-tit{
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
    font-size: 42px;
    margin: 20px;
}

.carte{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.carta{
    margin: 20px;
}

.carta .info-card{
    text-align: center;
    margin-top: 20px;
    font-family: "Roboto", sans-serif;
}

.info-card p{
    font-size: 20px;
    margin: 5px 0;
}

.delete{
    color: red;
    text-decoration: underline;
    cursor: pointer;
}


.deleteSection{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 500px;
    background-color: white;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.head{
    font-family: "Bebas Neue", sans-serif;
    background-color: grey;
    color: white;
}
.head h2{
    letter-spacing: 1px;
    padding: 10px;
    font-size: 28px;
}

.body{
    padding: 20px 10px;
    font-family: "Roboto", sans-serif;
}

.body .buttons{
    margin-top: 50px;
    text-align: right;
}

.buttons a, .buttons input{
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}

.buttons a{
    background-color: lightgray;
}

.buttons input{
    background-color: red;
}


/* Utili al js */

.hid{
    display: none;
}

.vis{
    display: block;
}

.nocard{
    font-size: 20px;
    color: grey;
    text-align: center;
    font-family: "Roboto", sans-serif;
}
